<div class="container">
    <h1>Edit Profile for: <%= current_user.first_name %> <%= current_user.last_name %></h1>
    
    <h3>Edit Contact Info</h3>
    <ul>
        <li>Profile Pic</li>
        <li>Name</li>
        <li>Website</li>
        <li>Email</li>
        <li>Linked In</li>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Instagram</li>
    </ul>
</div>

