<% if object.errors.any? %>
    <div class="well">
        <p>Please Correct the following:</p>
        <% object.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </div>
<% end %>