@import "bootstrap-sprockets";
@import "bootstrap";

body {
    font-size: 16px;
}

.navbar {
    margin-bottom: 0;
}

#carousel-example-generic {
    height: 350px;
}

.jumbotron {
    text-align: center;
    margin-bottom: 0;
    height: 400px;
}

th {
    text-align: center;
}